{
  "presets": [],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": ["**/*.test.js"]
          }
        ]
      ],
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": [">0.25%", "IE >= 11", "not op_mini all"]
            },
            "useBuiltIns": "usage", // or "entry"
            "corejs": 3
          }
        ]
      ]
    }
  }
}
