{
  "presets": [
    "es2015",
    "es2016",
    "es2017"
  ],
  "env": {
    "production":{
      "plugins": [
        [
          "lodash-modularize",
          {
              "lodashVersion": "4.17.4"
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/*.spec.js"
            ]
          }
        ],
        "rewire"
      ]
    },
  }
}